<p style="text-align: justify;">
	Produkty <strong>KAN-therm</strong> wytwarzane są zgodnie z najwyższymi standardami technologicznymi i jakościowymi. Wprowadzone do stosowania w budownictwie posiadają wszystkie niezbędne atesty, aprobaty i certyfikaty. Każdy produkt legitymuje się deklaracją właściwości użytkowych z odpowiednią normą lub aprobatą techniczną jako dokumentem odniesienia.&nbsp;</p>
<table class="kantabela" style="width: 700px;">
	<tbody>
		<tr>
			<td class="dark" id="push_platinum" style="text-align: left;">
				<strong>Asortyment</strong></td>
			<td class="dark" id="push_platinum" style=" width: 120px; text-align: left;">
				<strong>Deklaracja właściwości użytkowych </strong></td>
			<td class="dark" id="push_platinum" style="text-align: left;">
				<strong>Dokument odniesienia</strong></td>
			<td class="dark" id="push_platinum" style="text-align: left;">
				<strong>Atest higieniczny</strong></td>
		</tr>
		<tr>
			<td>
				Rury PP KAN</td>
			<td>
				<u><a href="/kan/upload/20_ KAN-DWU 17  - Rury PP KAN  v1(2).pdf"><span style="color: #0066cc;"><span style="color: #0066cc;">20/KAN-DWU/17</span></span></a></u></td>
			<td>
				PN-EN ISO 15874-2:2013</td>
			<td align="LEFT" colspan="1" rowspan="4">
				<u><a href="http://pl.kan-therm.com/kan/upload/HK_W_0521_01_2014%20-%20AH%20na%20PP.pdf"><span style="color: #0066cc;">HK/W/0521/01/2014</span></a></u></td>
		</tr>
		<tr>
			<td>
				Rury PP Stabi</td>
			<td>
				<u><a href="/kan/upload/21_ KAN-DWU 17  - Rury PP Stabi v1(1).pdf"><span style="color: #0066cc;">21/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				<u><a href="http://pl.kan-therm.com/kan/upload/AT-15-82862016.pdf"><span style="color: #0066cc;">AT-15-8286/2016</span></a></u></td>
		</tr>
		<tr>
			<td>
				Rury PP GLASS</td>
			<td>
				<u><a href="/kan/upload/22_1 KAN-DWU 17  - Rury PP GLASS v1.pdf"><span style="color: #0066cc;">22.1/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				<u><a href="/kan/upload/SKM_C284e18010308510.pdf"><span style="color: #0066cc;">ITB-KOT-2017/0320</span></a></u></td>
		</tr>
		<tr>
			<td>
				Kształtki, zawory PP</td>
			<td>
				<u><a href="/kan/upload/23_ KAN-DWU 17  - Kształtki, zawory PP v1(1).pdf"><span style="color: #0066cc;">23/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN ISO 15874-3:2013</td>
		</tr>
		<tr>
			<td>
				Rury PE-RT</td>
			<td>
				<u><a href="/kan/upload/30_ KAN-DWU 17 - Rury PE-RT v2 (002).pdf"><span style="color: #0066cc;">30/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN ISO 22391-2:2010</td>
			<td align="LEFT" rowspan="2">
				<u><a href="http://pl.kan-therm.com/kan/upload/atest%20na%20rury%20KANtherm%20%20W%20761%202014.pdf"><span style="color: #0066cc;">HK/W/0761/01/2014</span></a></u></td>
		</tr>
		<tr>
			<td>
				Rury PE-Xc</td>
			<td>
				<u><a href="/kan/upload/31_ KAN-DWU 17  - Rury PE-Xc v2.pdf"><span style="color: #0066cc;">31/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN ISO 15875-2:2005</td>
		</tr>
		<tr>
			<td>
				Rury PE-Xc/Al/PE-HD Platinum</td>
			<td>
				<u><a href="/kan/upload/32_ KAN-DWU 17  - Rury PE-Xc_Al_PE-HD Platinum v2.pdf"><span style="color: #0066cc;">32/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN ISO 21003-2:2009</td>
			<td align="LEFT" colspan="1">
				<u><a href="http://pl.kan-therm.com/kan/upload/HK%20W%200548%2001%202017(4).pdf"><span style="color: #0066cc;">HK/W/0548/01/2017</span></a></u></td>
		</tr>
		<tr>
			<td>
				Rury PE-RT w izolacji</td>
			<td>
				<u><a href="/kan/upload/33_ KAN-DWU 17  - Rury PE-RT w izolacji  v2.pdf"><span style="color: #0066cc;">33/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN ISO 22391-2:2010</td>
			<td align="LEFT" rowspan="2">
				<u><a href="http://pl.kan-therm.com/kan/upload/atest%20na%20rury%20KANtherm%20%20W%20761%202014.pdf"><span style="color: #0066cc;">HK/W/0761/01/2014</span></a></u></td>
		</tr>
		<tr>
			<td>
				Rury PE-Xc w izolacji</td>
			<td>
				<u><a href="/kan/upload/34_ KAN-DWU 17  - Rury PE-Xc w izolacji v2.pdf"><span style="color: #0066cc;">34/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN ISO 15875-2:2005</td>
		</tr>
		<tr>
			<td>
				Złaczki Push i Push Platinum<br />
				MO i PPSU</td>
			<td>
				<u><a href="/kan/upload/35_ KAN-DWU 17  - Złaczki Push i Push Platinum MO i PPSU v2.pdf"><span style="color: #0066cc;">35/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 12543:2004</td>
			<td align="LEFT" colspan="1">
				<u><a href="http://pl.kan-therm.com/kan/upload/HKW0379012014-ksztaltki-zlaczki-rozdzielacze-MO.pdf"><span style="color: #0066cc;">HK/W/0379/01/2014</span></a></u></td>
		</tr>
		<tr>
			<td>
				Rury wielowarstwowe</td>
			<td>
				<u><a href="/kan/upload/40_ KAN-DWU 17  - Rury wielowarstwowe v2 (003).pdf"><span style="color: #0066cc;">40/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN ISO 21003-2:2009</td>
			<td align="LEFT" colspan="1">
				<u><a href="http://pl.kan-therm.com/kan/upload/HK%20W%200548%2001%202017(4).pdf"><span style="color: #0066cc;">HK/W/0548/01/2017</span></a></u></td>
		</tr>
		<tr>
			<td>
				Złaczki Press MO i PPSU</td>
			<td>
				<u><a href="/kan/upload/41_ KAN-DWU 17  - Złaczki Press MO i PPSU v1.pdf"><span style="color: #0066cc;">41/KAN--DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN ISO 21003-3:2009</td>
			<td align="LEFT" colspan="1">
				<u><a href="http://pl.kan-therm.com/kan/upload/HKW0379012014-ksztaltki-zlaczki-rozdzielacze-MO.pdf"><span style="color: #0066cc;">HK/W/0379/01/2014</span></a></u></td>
		</tr>
		<tr>
			<td>
				Rury wielowarstwowe w izolacji</td>
			<td>
				<u><a href="/kan/upload/42_ KAN-DWU 17  - Rury wielowarstwowe w izolacji v2.pdf"><span style="color: #0066cc;">42/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN ISO 21003-2:2009</td>
			<td align="LEFT" colspan="1">
				<u><a href="http://pl.kan-therm.com/kan/upload/HK%20W%200548%2001%202017(4).pdf"><span style="color: #0066cc;">HK/W/0548/01/2017</span></a></u></td>
		</tr>
		<tr>
			<td>
				Rury Steel&nbsp;</td>
			<td>
				<u><a href="/kan/upload/50_ KAN-DWU 17  - Rury Steel v1(1).pdf"><span style="color: #0066cc;">50/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 10305-3:2016</td>
			<td colspan="1" style="text-align: center;">
				-</td>
		</tr>
		<tr>
			<td>
				Kształtki Steel</td>
			<td>
				<u><a href="/kan/upload/51_ KAN-DWU 17  - Kształtki Steel v1(1).pdf"><span style="color: #0066cc;">51/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				<u><a href="http://pl.kan-therm.com/kan/upload/Deklaracje%20zgodno%C5%9Bci%20kszta%C5%82tki%20Steel%20i%20Inox.pdf"><span style="color: #0066cc;">AT-15-7543/2014</span></a></u></td>
			<td colspan="1" style="text-align: center;">
				-</td>
		</tr>
		<tr>
			<td>
				Rury Inox</td>
			<td>
				<u><a href="/kan/upload/60_ KAN-DWU 17  - Rury Inox v1(1).pdf"><span style="color: #0066cc;">60/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 10312:2006</td>
			<td align="LEFT" rowspan="2">
				<u><a href="http://pl.kan-therm.com/kan/upload/HKW1160012015.pdf"><span style="color: #0066cc;">HK/W/1160/01/2015</span></a></u></td>
		</tr>
		<tr>
			<td>
				Kształtki Inox</td>
			<td>
				<u><a href="/kan/upload/61_ KAN-DWU 17  - Kształtki Inox v1(1).pdf"><span style="color: #0066cc;">61/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				<u><a href="http://pl.kan-therm.com/kan/upload/Deklaracje%20zgodno%C5%9Bci%20kszta%C5%82tki%20Steel%20i%20Inox.pdf"><span style="color: #0066cc;">AT-15-7543/2014</span></a></u></td>
		</tr>
		<tr>
			<td>
				Rozdzielacze metalowe<br />
				Systemu KAN-therm</td>
			<td>
				<u><a href="/kan/upload/70_ KAN-DWU 17 - Rozdzielacze metalowe Systemu KAN-therm.pdf"><span style="color: #0066cc;">70/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				<u><a href="/kan/upload/AT-8836_2012 .pdf"><span style="color: #0066cc;">AT-15-8836/2012 +<br />
				Aneks nr 1</span></a></u></td>
			<td align="LEFT" rowspan="3">
				<u><a href="http://pl.kan-therm.com/kan/upload/HKW0379012014-ksztaltki-zlaczki-rozdzielacze-MO.pdf"><span style="color: #0066cc;">HK/W/0379/01/2014</span></a></u></td>
		</tr>
		<tr>
			<td>
				Rozdzielacze tworzywowe i&nbsp;&nbsp;grupy mieszające</td>
			<td>
				<u><a href="/kan/upload/71_KAN-DWU 17 - Rozdzielacze tworzywowe i grupy mieszające.pdf"><span style="color: #0066cc;">71/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				<u><a href="http://pl.kan-therm.com/kan/upload/AT-15-8102_2013%20-%20rozdzielacze%20MO.pdf"><span style="color: #0066cc;">AT-15-8102/2013</span></a></u></td>
		</tr>
		<tr>
			<td>
				Zesp&oacute;ł rozdzielaczy mieszkaniowych<br />
				KAN-therm</td>
			<td>
				<u><a href="/kan/upload/73_KAN-DWU 17 - Zespół rozdzielaczy mieszkaniowych KAN-therm.pdf"><span style="color: #0066cc;">73/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN ISO 15874-2:2013</td>
		</tr>
		<tr>
			<td>
				Rury i kształtki Steel Sprinkler</td>
			<td>
				<u><a href="/kan/upload/80_KAN-DWU 17 - Rury i kształtki Steel Sprinkler.pdf"><span style="color: #0066cc;">80/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				<u><a href="http://pl.kan-therm.com/kan/upload/A4184102IT.pdf"><span style="color: #0066cc;">AT-1106-0227/2009/2013</span></a></u></td>
			<td colspan="1" style="text-align: center;">
				-</td>
		</tr>
		<tr>
			<td>
				Rury i kształtki Inox Sprinkler</td>
			<td>
				<u><a href="/kan/upload/81_KAN-DWU 17 - Rury i kształtki Inox Sprinkler.pdf"><span style="color: #0066cc;">81/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				<u><a href="http://pl.kan-therm.com/kan/upload/AT-1106-0249_2009_2014%20-%201str.pdf"><span style="color: #0066cc;">AT-1106-0249/2009/2014</span></a></u></td>
			<td colspan="1" style="text-align: center;">
				-</td>
		</tr>
		<tr>
			<td>
				Kształtki og&oacute;lnego przeznaczenia Systemu KAN-therm</td>
			<td>
				<u><a href="/kan/upload/90_ KAN-DWU 17-Kształtki ogólnego przeznaczenia Systemu KAN-therm v2.pdf"><span style="color: #0066cc;">90/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 1254-4:2004</td>
			<td rowspan="2">
				<u><a href="http://pl.kan-therm.com/kan/upload/HKW0379012014-ksztaltki-zlaczki-rozdzielacze-MO.pdf"><span style="color: #0066cc;">HK/W/0379/01/2014</span></a></u></td>
		</tr>
		<tr>
			<td>
				Zawory kulowe i zestawy montażowe</td>
			<td>
				<u><a href="/kan/upload/91_ KAN-DWU 17- Zawory kulowe i zestawy montażowe v2.pdf"><span style="color: #0066cc;">91/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 13828:2005</td>
		</tr>
		<tr>
			<td>
				Głowice i zawory termostatyczne</td>
			<td>
				<u><a href="/kan/upload/92_ KAN-DWU 17- Głowice i zawory termostatyczne v2.pdf"><span style="color: #0066cc;">92/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 215:2005</td>
			<td colspan="1" style="text-align: center;">
				-</td>
		</tr>
		<tr>
			<td>
				Ścienne panele grzewcze<br />
				Systemu KAN-therm</td>
			<td>
				<u><a href="/kan/upload/93_ KAN-DWU 17- Ścienne panele grzewcze Systemu KAN-therm.pdf"><span style="color: #0066cc;">93/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN ISO 15876-2:2009</td>
			<td colspan="1" style="text-align: center;">
				-</td>
		</tr>
		<tr>
			<td>
				Elementy automatyki i sterowania<br />
				Systemu KAN-therm</td>
			<td>
				<u><a href="/kan/upload/94_ KAN-DWU 17- Elementy automatyki i sterowania Systemu KAN-therm v2 _.pdf"><span style="color: #0066cc;">94/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 60730-1:2009</td>
			<td colspan="1" style="text-align: center;">
				-</td>
		</tr>
		<tr>
			<td>
				Mrozoodporny zaw&oacute;r ogrodowy</td>
			<td>
				<u><a href="/kan/upload/95_ KAN-DWU 17- Mrozoodporny zawór ogrodowy.pdf"><span style="color: #0066cc;">95/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 1254-4:2004</td>
			<td align="LEFT" colspan="1">
				<u><a href="http://pl.kan-therm.com/kan/upload/HKW0379012014-ksztaltki-zlaczki-rozdzielacze-MO.pdf"><span style="color: #0066cc;">HK/W/0379/01/2014</span></a></u></td>
		</tr>
		<tr>
			<td>
				Betokan</td>
			<td>
				<u><a href="/kan/upload/100_ KAN-DWU 17 - Betokan v2.pdf"><span style="color: #0066cc;">100/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 934-2+A1:2012</td>
			<td colspan="1" style="text-align: center;">
				-</td>
		</tr>
		<tr>
			<td>
				Styropian Tacker EPS100-038z folią</td>
			<td>
				<u><a href="/kan/upload/110_ KAN-DWU 17 - Styropian Tacker EPS100-038z folią v1.pdf"><span style="color: #0066cc;">110/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 13163+A2:2016</td>
			<td colspan="1" style="text-align: center;">
				-</td>
		</tr>
		<tr>
			<td>
				Styropian Tacker EPS200-034z folią</td>
			<td>
				<u><a href="/kan/upload/111_ KAN-DWU 17 - Styropian Tacker EPS200-034z folią v1.pdf"><span style="color: #0066cc;">111/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 13163+A2:2016</td>
			<td colspan="1" style="text-align: center;">
				-</td>
		</tr>
		<tr>
			<td>
				Styropian Tacker EPS T-30dB</td>
			<td>
				<u><a href="/kan/upload/112_ KAN-DWU 17 - Styropian Tacker EPS T-30dB v1.pdf"><span style="color: #0066cc;">112/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 13163+A2:2016</td>
			<td colspan="1" style="text-align: center;">
				-</td>
		</tr>
		<tr>
			<td>
				Styropian Profil4 EPS200</td>
			<td>
				<u><a href="/kan/upload/113_ KAN-DWU 17 - Styropian Profil4 EPS200 v1.pdf"><span style="color: #0066cc;">113/KAN-DWU/17</span></a></u></td>
			<td colspan="1">
				PN-EN 13163+A2:2016</td>
			<td colspan="1" style="text-align: center;">
				-</td>
		</tr>
	</tbody>
</table>
<div>
	&nbsp;</div>
<div>
	Informujemy iż z uwagi na ograniczenia prawne treści norm nie są udostępniane.</div>
